.article-card{
    margin-bottom: 15px;
}

.input-container{
    margin-bottom: 10px;
}

.invalid-input{
    color: #f44336;
}

.author-chip{
    margin-top: 10px;
    margin-right: 5px;
    cursor: pointer;
}

.chip-content{
    display: flex;
    align-items: center;
}

.dialog-content{
    display: flex;
    flex-direction: column;
}

.dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dialog-action{
    margin-right: 10px;
}

.error-message{
    color: red;
}