<md-card>
    <h1>Hello, world!</h1>
    <p>Welcome to your new single-page application, built with:</p>
    <ul>
        <li><a href='https://www.asp.net/mvc/'>ASP.NET MVC 5</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a></li>
        <li><a href='https://msdn.microsoft.com/en-us/library/hh833994(v=vs.108).aspx'>ASP.NET Web API</a></li>
        <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
        <li><a href='http://material.angular.io/'>Angular Material 2</a> for layout and styling</li>
    </ul>
</md-card>
