<h1 md-dialog-title *ngIf="author.Id">Edit author</h1>
<h1 md-dialog-title *ngIf="!author.Id">Add author</h1>
<md-dialog-content>
    <div class="dialog-content">
        <md-input-container>
            <input mdInput placeholder="First Name" [(ngModel)]="author.FirstName" required>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Last Name" [(ngModel)]="author.LastName" required>
        </md-input-container>
        <md-input-container>
            <input mdInput type="date" placeholder="Birth Date" [(ngModel)]="author.BirthDate" required>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="Country" [(ngModel)]="author.Country" required>
        </md-input-container>
        <span *ngIf="errorMessage" class="error-message">{{errorMessage}}</span>
    </div>
</md-dialog-content>

<md-dialog-actions>
    <div class="dialog-actions">
        <button md-raised-button color="primary" class="dialog-action" (click)="save()">Save</button>
        <button md-raised-button md-dialog-close class="dialog-action">Cancel</button>
    </div>
</md-dialog-actions>