.dialog-content{
    display: flex;
    flex-direction: column;
}

.dialog-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.dialog-action{
    margin-right: 10px;
}
.error-message{
    color: red;
}